	<section class="container">
		<div class="row">
			{% for event in events %}
				<div class="col-lg-4 mb-4">
					<div class="card text-center">
						<img src="{% if event.image is empty %}assets/images/events.webp{% else %}{{ constant("APP_UPLOAD_PATH") ~ event.image }}{% endif %}" class="card-img-top rounded-4" alt="{{ event.title }}">
						<div class="card-body">
							<h3 class="card-title">{{ event.title|upper }}</h3>
							<p class=" d-flex align-items-center justify-content-center text-light gap-2">
								<svg class="" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar-event me-1" viewbox="0 0 16 16">
									<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
									<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
								</svg>
								{{ event.date }}</p>
							<button type="button" class="btn btn-primary align-center" data-bs-toggle="modal" data-bs-target="#event{{ event.id }}">
								En savoir plus !
							</button>
						</div>
					</div>
				</div>

				<div class="modal fade text-center" id="event{{ event.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title text-wrap" id="exampleModalLabel">{{ event.title|upper }}</h3>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<img src="{% if event.image is empty %}assets/images/events.webp{% else %}{{ constant("APP_UPLOAD_PATH") ~ event.image }}{% endif %}" class="w-100" alt="{{ event.title }}">
								<p>{{ event.description|nl2br }}</p>
								<p class=" d-flex align-items-center justify-content-center gap-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewbox="0 0 16 16">
										<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
										<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
									</svg>
									{{ event.date }}</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>