{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block content %}
	<main
		class="container-fluid px-0">
		<!--  Section horaires et tarifs -->
		<section class="rate-section container-fluid pt-3 pb-5">
			<h1 class="section-title text-center px-3 mb-5 mx-auto bg-primary rounded-4">Horaires et tarifs</h1>
			<div class="container">
				<div class="row justify-content-evenly">
					<div class="rate-background col-lg-5 p-2 my-2 shadow rounded-4">
						<table class="w-100">
							<thead>
								<tr>
									<h3 class="text-center">Horaires</h3>
								</tr>
							</thead>
							<tr>
								<td class="py-3">Mercredi, Samedi et Dimanche</td>
								<td class="text-end">14h - 19H</td>
							</tr>
							<tr>
								<td class="py-3">Vendredi</td>
								<td class="text-end">17h - 20H</td>
							</tr>
							<tr>
								<td class="py-3">Fermé le Lundi, Mardi et Jeudi</td>
								<td class="text-end">hors vacances scolaires</td>
							</tr>
							<tr>
								<td class="py-3">Tous les jours Vacances scolaires + jours fèriées</td>
								<td class="text-end">14h - 19H</td>
							</tr>
							<tr>
								<td class="py-3">Tous les jours pour les groupes sur réservation</td>
								<td class="text-end"></td>
							</tr>
						</table>
					</div>
					<div class="rate-background col-lg-5 p-2 my-2 shadow rounded-4">
						<table class="w-100">
							<thead>
								<tr>
									<h3 class="text-center">Tarifs</h3>
								</tr>
							</thead>
							{% for rate in rates %}
								<tr>
									<td class="py-3">{{ rate.description }}</td>
									{% if rate.price == 'Nous contacter' %}
										<td class="text-end">
											<a href="#">{{ rate.price }}</a>
										</td>
									{% elseif rate.price == 'Voir la page dédiée' %}
										<td class="text-end">
											<a href="/anniversaire">{{ rate.price }}</a>
										</td>
									{% else %}
										<td class="text-end">{{ rate.price }}</td>
									{% endif %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
