{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="assets/css/home.css">
{% endblock %}

{% block header %}
	<header class="container-fluid pt-5 bg-light">
		<div class="row">
			<div class="col-xxl-6 d-flex flex-column align-items-center">
				<img class="w-50" src="assets/images/Logo.png" alt="Logo">
				<img class="w-50" src="assets/images/Title.png" alt="Title">
			</div>
			<div class="col-xxl-5 mt-4 px-3 flex-column d-flex align-items-center justify-content-center">
				<h1 class="text-primary text-center mb-4">Bienvenue chez Rigolou !</h1>
				<p>
					La plaine de jeux et de loisirs  de 1800 m² à Saran pour les enfants jusqu’a 12 ans. 
					Sous la responsabilité des parents ou d’un adulte accompagnant, les enfants peuvent jouer dans de nombreuses attractions.
				</p>
				<h2 class="w-100 mt-3 fs-3 text-center">Venez passer un agréable moment en famille et en toute sécurité !</h2>
			</div>
		</div>
		<div class="w-100 pt-5">
			<img class="img_header w-100 rounded-4" src="assets/images/Family_happy.jpeg" alt="Les enfants jouent">
		</div>
	</header>
{% endblock %}

{% block content %}
	<main
		class="w-100">
		<!-- amusement section -->
		<section class="bg-section pt-5 text-center">
			<h1 class="section-title mx-auto mt-2 mb-4 px-3 bg-primary rounded-4">Attractions</h1>
			<div class="container mb-3">
				<div class="row justify-content-center">
					{% for amusement in amusements %}
						<article class="col-lg-3 col-md-6 mb-2">
							<div class="card d-flex justify-content-between shadow border-0">
								<div class="card-title align-self-center my-2">{{ amusement.name }}</div>
								<img src="{% if amusement.image is empty %}assets/images/attraction_placeholder.jpg{% else %}{{ constant('APP_UPLOAD_PATH') ~ amusement.image }}{% endif %}" alt="{{ amusement.name }}" class="card-img-bottom rounded-0">
							</div>
						</article>
					{% endfor %}
				</div>
			</div>
			<a class="btn btn-primary mx-md-auto mx-4 px-4 mb-5 rounded-4" href="/attractions" role="button">Découvrir plus d'attractions !</a>
		</section>
		<!--Section horaires et tarifs-->
		<section class="bg-section-alternate container-fluid pt-5 pb-5">
			<h1 class="section-title text-center px-3 mb-3 mx-auto bg-primary rounded-4" id="tarifs">Horaires et tarifs</h1>
			<div class="container-fluid">
				<div class="row justify-content-evenly">
					<div class="rate-background col-lg-5 p-2 my-2 shadow rounded-4 border">
						<h3 class="w-100 text-center text-primary border-bottom border-dark">Horaires</h3>
						<table class="table">
							<tbody>
								<tr>
									<td class="py-3 fw-bold">Mercredi, Samedi et Dimanche</td>
									<td class="text-end py-3">14h - 19H</td>
								</tr>
								<tr>
									<td class="py-3 fw-bold">Vendredi</td>
									<td class="text-end py-3">17h - 20H</td>
								</tr>
								<tr>
									<td class="py-3 fw-bold">Fermé le Lundi, Mardi et Jeudi</td>
									<td class="text-end py-3">hors vacances scolaires</td>
								</tr>
								<tr>
									<td class="py-3 fw-bold">Tous les jours Vacances scolaires + jours fériés</td>
									<td class="text-end py-3">14h - 19H</td>
								</tr>
								<tr>
									<td class="py-3 fw-bold border-0">Tous les jours pour les groupes sur réservation</td>
									<td class="text-end py-3 border-0">
										<a href="/contact">
											Contacter
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewbox="0 0 16 16">
												<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
											</svg>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="rate-background col-lg-5 p-2 my-2 shadow rounded-4 border">
						<h3 class="w-100 text-center text-primary border-bottom border-dark">Tarifs</h3>
						<table class="table">
							<tbody>
								{% for rate in rates %}
									<tr>
										<td class="py-3 fw-bold">{{ rate.description }}</td>
										<td class="text-end py-3">{{ rate.price }}</td>
									</tr>
								{% endfor %}
								<tr>
									<td class="py-3 fw-bold border-0">Formules anniversaire</td>
									<td class="text-end py-3 border-0">
										<a href="/anniversaire">
											<div class="text-nowrap">
												Page dédiée
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewbox="0 0 16 16">
													<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
												</svg>
											</div>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
