<form class="w-75 mx-auto mt-3" method="post">
	{% if errors is not empty %}
		<div class="alert alert-danger">
			<ul>
				{% for error in errors %}
					<li>
						{{error}}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<input type="hidden" value="{{ cafeteria.id }}" name="id">
	<label class="form-label" for="title">Nom</label>
	<input class="form-control" type="text" value="{% if cafeteria is not empty %}{{ cafeteria.name }}{% endif %}" name="name" id="name" required>
	<label class="form-label" for="title">Prix(€)</label>
	<input class="form-control" type="number" max="100" min="0" step="0.1" value="{% if cafeteria is not empty %}{{ cafeteria.price }}{% endif %}" name="price" id="price" required>
	<label class="form-label" for="title">Category</label>
	<select class="form-control" name="category" id="category">
		{% for category, name in allowedCategories %}
			<option value="{{ category }}" {% if cafeteria.category == category %} selected {% endif %}>{{ name }}</option>
		{% endfor %}
	</select>
	<div class="d-flex justify-content-between">
		<button class="btn btn-info w-fit d-flex gap-2 align-items-center mt-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewbox="0 0 16 16">
				<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
			</svg>
			Ajouter
		</button>
		<a href="/admin/cafeteria" class="btn btn-dark w-fit d-flex gap-2 align-items-center mt-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
			</svg>
			Retour
		</a>
	</div>
</form>
