<form class="w-75 mx-auto mt-3" method="post">
	{% if errors is not empty %}
		<div class="alert alert-danger">
			<ul>
				{% for error in errors %}
					<li>
						{{error}}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<input type="hidden" value="{{ cafeteria.id }}" name="id">
	<label class="form-label" for="title">Nom</label>
	<input class="form-control" type="text" value="{% if cafeteria is not empty %}{{ cafeteria.name }}{% endif %}" name="name" id="name" required>
	<label class="form-label" for="title">Prix(€)</label>
	<input class="form-control" type="number" max="100" min="0" step="0.1" value="{% if cafeteria is not empty %}{{ cafeteria.price }}{% endif %}" name="price" id="price" required>
	<label class="form-label" for="title">Category</label>
	<select class="form-control" name="category" id="category">
		{% for category, name in allowedCategories %}
			<option value="{{ category }}" {% if cafeteria.category == category %} selected {% endif %}>{{ name }}</option>
		{% endfor %}
	</select>
	<button class="btn btn-primary mt-3">Envoyer</button>
</form>
