<div class="modal fade" id="contactModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content modal-dialog-centered">
			<div class="modal-header w-100">
				<h5 class="modal-title" id="staticBackdropLabel">Nous contacter</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="" method="post" class="w-100">
				<div class="modal-body w-100">
					<input type="hidden" name="contactForm" value="1">
					<input type="hidden" name="pageYOffset" id="pageYOffset" value="0">
					<p class="text-danger">* champs obligatoires</p>
					<label for="firstname" class="fw-bold">Prénom:</label><span class="text-danger">*</span>
					{% if contactForm.errors.firstname is defined %}
						<span class="text-danger">{{ contactForm.errors.firstname }}</span>
					{% endif %}
					<br>
					<input type="text" name="firstname" id="firstname" {% if contactForm.inputs.firstname is defined %} value="{{ contactForm.inputs.firstname }}" {% endif %} required><br>
					<label for="lastname" class="fw-bold mt-2">Nom:</label><span class="text-danger">*</span>
					{% if contactForm.errors.lastname is defined %}
						<span class="text-danger">{{ contactForm.errors.lastname }}</span>
					{% endif %}
					<br>
					<input type="text" name="lastname" id="lastname" {% if contactForm.inputs.lastname is defined %} value="{{ contactForm.inputs.lastname }}" {% endif %} required><br>
					<label for="email" class="fw-bold mt-2">E-mail:</label><span class="text-danger">*</span>
					{% if contactForm.errors.email is defined %}
						<span class="text-danger">{{ contactForm.errors.email }}</span>
					{% endif %}
					<br>
					<input type="text" name="email" id="email" {% if contactForm.inputs.email is defined %} value="{{ contactForm.inputs.email }}" {% endif %} required><br>
					<label for="telephone" class="fw-bold mt-2">Téléphone:</label><br>
					<input type="text" name="telephone" id="telephone" {% if contactForm.inputs.telephone is defined %} value="{{ contactForm.inputs.telephone }}" {% endif %}><br>
					<label for="object" class="fw-bold mt-2">Objet:</label><span class="text-danger">*</span>
					{% if contactForm.errors.object is defined %}
						<span class="text-danger">{{ contactForm.errors.object }}</span>
					{% endif %}
					<br>
					<input type="text" name="object" id="object" {% if contactForm.inputs.object is defined %} value="{{ contactForm.inputs.object }}" {% endif %} required><br>
					<label for="message" class="fw-bold mt-2">Message:</label><span class="text-danger">*</span>
					{% if contactForm.errors.message is defined %}
						<span class="text-danger">{{ contactForm.errors.message }}</span>
					{% endif %}
					<br>
					<textarea name="message" id="message" rows="6" class="w-100" required>{% if contactForm.inputs.message is defined %}{{ contactForm.inputs.message }}{% endif %}</textarea>
				</div>
				<div class="modal-footer w-100">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					<button class="btn btn-primary">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="contactModalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelConfirm" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content modal-dialog-centered">
			<div class="modal-header w-100">
				<h5 class="modal-title" id="staticBackdropLabelConfirm">Message envoyé</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body w-100">
				<p>Votre message a été envoyé.</p>
				<p>Nous vous recontacterons dans les plus brefs délais.</p>
			</div>
			<div class="modal-footer w-100">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
<script>
	window.onscroll = function () {document.getElementById("pageYOffset").value = window.pageYOffset;};
</script>
