{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Cafétéria
{% endblock %}

{% block header %}
	<header class="container-fluid bg-light p-0 m-0">
		<div class="row align-items-center m-0 ">
			<div class="col-lg-6 d-flex flex-column justify-content-center mt-3">
				<img class="rounded-4 w-100 shadow" src="assets/images/Cafeteria-min.jpg" alt="">
			</div>
			<div class="col-lg-6">
				<div class="d-flex align-items-center justify-content-center px-5">
					<img class="coffee1 col-lg-2 d-none d-lg-block pt-5 py-5 ms-5 me-5" src="assets/images/coffee.png" alt="Coffee1">
					<div>
						<h1 class="text-primary text-center mt-4 mb-3">Cafétéria</h1>
						<h2 class="text-center">Bar & Snack</h2>
					</div>
					<img class="coffee2 col-lg-2 d-none d-lg-block pt-5 py-5 ms-5 me-5" src="assets/images/patatoes.png" alt="Coffee2">
				</div>
				<p class="ms-5 me-5">Un espace bar et salon de thé permet aux adultes comme aux enfants de boire une boisson froide ou chaude. Un snack permet de faire goûter les enfants. Les adultes pourront également bénéficier de petits encas.</p>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}
	<main class="bg-section-alternate mt-3">
		<section class="container">
			<div class="row justify-content-around">
				<div class="bg-light col-lg-4 p-4 m-2 mt-5 mb-5 shadow rounded-4">
					<h2 class="text-center text-success border-bottom border-dark">Boissons</h2>
					<table class="w-100">
						<tbody>
							{% for drink in drinks %}
								<tr>
									<td class="py-3 border-bottom fw-bold">{{ drink.name|capitalize }}</td>
									<td class="text-end border-bottom">{{ drink.price }}€</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="bg-light col-lg-4 p-4 m-2 mt-5 mb-5 shadow rounded-4">
					<h2 class="text-center text-success border-bottom border-dark">Snacks</h2>
					<table class="w-100">
						<tbody>
							{% for snack in snacks %}
								<tr>
									<td class="py-3 border-bottom fw-bold">{{ snack.name|capitalize }}</td>
									<td class="text-end border-bottom">{{ snack.price }}€</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
