{% extends "layout.html.twig" %}

{% block title %}
	{{ parent() }}
	- Contact
{% endblock %}

{% block content %}
	<h1 class="section-title mx-auto my-5 px-3 bg-primary rounded-4">Nous contacter</h1>
	{% if messageSend %}
		<h2 class="w-100 text-center">Message envoyé, nous vous recontacterons dans les plus brefs délais.</h2>
	{% endif %}
	<form action="" method="post" class="container">
		<div class="w-100">
			<p class="text-danger">* champs obligatoires</p>
			<label for="firstname" class="fw-bold form-label">Prénom:</label>
			<span class="text-danger">*</span>
			{% if validations.errors.firstname is defined %}
				<span class="text-danger">{{ validations.errors.firstname }}</span>
			{% endif %}
			<input type="text" class="form-control" name="firstname" id="firstname" {% if validations.inputs.firstname is defined %} value="{{ validations.inputs.firstname }}" {% endif %} required><br>
			<label for="lastname" class="fw-bold form-label mt-2">Nom:</label>
			<span class="text-danger">*</span>
			{% if validations.errors.lastname is defined %}
				<span class="text-danger">{{ validations.errors.lastname }}</span>
			{% endif %}
			<input type="text" class="form-control" name="lastname" id="lastname" {% if validations.inputs.lastname is defined %} value="{{ validations.inputs.lastname }}" {% endif %} required><br>
			<label for="email" class="fw-bold form-label mt-2">E-mail:</label>
			<span class="text-danger">*</span>
			{% if validations.errors.email is defined %}
				<span class="text-danger">{{ validations.errors.email }}</span>
			{% endif %}
			<input type="text" class="form-control" name="email" id="email" {% if validations.inputs.email is defined %} value="{{ validations.inputs.email }}" {% endif %} required><br>
			<label for="phone" class="fw-bold form-label mt-2">Téléphone:</label><br>
			<input type="text" class="form-control" name="phone" id="phone" {% if validations.inputs.telephone is defined %} value="{{ validations.inputs.telephone }}" {% endif %}><br>
			<label for="subject" class="fw-bold form-label mt-2">Objet:</label>
			<span class="text-danger">*</span>
			{% if validations.errors.subject is defined %}
				<span class="text-danger">{{ validations.errors.subject }}</span>
			{% endif %}
			<input type="text" class="form-control" name="subject" id="subject" {% if validations.inputs.subject is defined %} value="{{ validations.inputs.subject }}" {% endif %} required><br>
			<label for="message" class="fw-bold form-label mt-2">Message:</label>
			<span class="text-danger">*</span>
			{% if validations.errors.message is defined %}
				<span class="text-danger">{{ validations.errors.message }}</span>
			{% endif %}
			<textarea class="form-control" name="message" id="message" rows="10" required>
				{%- if validations.inputs.message is defined -%}
					{{ validations.inputs.message }}
				{%- endif -%}
			</textarea>
		</div>
		<div class="w-100 text-end mt-3">
			<button class="btn btn-primary">Envoyer</button>
		</div>
	</form>
{% endblock %}
