{% extends "layout.html.twig" %}

{% block title %}
	{{ parent() }}
	- Contact
{% endblock %}

{% block content %}
	<h1 class="section-title mx-auto my-5 px-3 bg-primary rounded-4">Nous contacter</h1>
	{% if messageSend %}
		<h2 class="w-100 text-center">Message envoyé, nous vous recontacterons dans les plus brefs délais.</h2>
	{% endif %}
	<form action="/contact" method="post" class="container">
		<div class="w-100">
			<label for="firstname" class="fw-bold form-label">Prénom:</label>
			{% if errors.firstname is defined %}
				<span class="text-danger">{{ errors.firstname }}</span>
			{% endif %}
			<input type="text" class="form-control" name="firstname" id="firstname" {% if contact.firstname is defined %} value="{{ contact.firstname }}" {% endif %} required><br>
			<label for="lastname" class="fw-bold form-label mt-2">Nom:</label>
			{% if errors.lastname is defined %}
				<span class="text-danger">{{ errors.lastname }}</span>
			{% endif %}
			<input type="text" class="form-control" name="lastname" id="lastname" {% if contact.lastname is defined %} value="{{ contact.lastname }}" {% endif %} required><br>
			<label for="email" class="fw-bold form-label mt-2">E-mail:</label>
			{% if errors.email is defined %}
				<span class="text-danger">{{ errors.email }}</span>
			{% endif %}
			<input type="text" class="form-control" name="email" id="email" {% if contact.email is defined %} value="{{ contact.email }}" {% endif %} required><br>
			<label for="phone" class="fw-bold form-label mt-2">Téléphone: (optionnel)</label><br>
			<input type="text" class="form-control" name="phone" id="phone" {% if contact.telephone is defined %} value="{{ contact.telephone }}" {% endif %}><br>
			<label for="subject" class="fw-bold form-label mt-2">Objet:</label>
			{% if errors.subject is defined %}
				<span class="text-danger">{{ errors.subject }}</span>
			{% endif %}
			<input type="text" class="form-control" name="subject" id="subject" {% if contact.subject is defined %} value="{{ contact.subject }}" {% endif %} required><br>
			<label for="message" class="fw-bold form-label mt-2">Message:</label>
			{% if errors.message is defined %}
				<span class="text-danger">{{ errors.message }}</span>
			{% endif %}
			<textarea class="form-control" name="message" id="message" rows="5" required>
				{%- if contact.message is defined -%}
					{{ contact.message }}
				{%- endif -%}
			</textarea>
		</div>
		<div class="w-100 text-end mt-3">
			<button class="btn btn-primary">Envoyer</button>
		</div>
	</form>
{% endblock %}
