<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail d'un client de Rigolou</title>
</head>
<body>
    <p>Message de:<br>
    {{ inputs.firstname }} {{ inputs.lastname }}<br>
    {% if inputs.phone is not empty %}
        {{- inputs.phone -}}
    {% endif %}<br>
    {{ inputs.email }}</p>
    <p>{{ inputs.message }}</p>
</body>
</html>